/* style.css */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  background: #fef9e7;
}

.container {
  margin: auto;
  width: 1100px;
  max-width: 90%;
}

.row {
  margin: 15px 0;
}

nav {
  display: flex;
  margin-bottom: 20px;
}

.main-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-menu li {
  padding: 10px 20px;
}

.main-menu li a {
  color: #262626;
  text-decoration: none;
}

.main-menu li a:hover {
  border-bottom: 2px solid #262626;
}

.main-menu li.active {
  font-weight: bold;
}

table.table,
.table th,
.table td {
  border: 1px solid gray;
}

.table td {
  width: 50px;
  height: 30px;
}

label,
select {
  display: block;
}

.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  width: 400px;
}

.carousel #image {
  width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.carousel button {
  cursor: pointer;
}

#description {
  width: 400px;
  text-align: center;
}
